.mainContainer {

   margin: 20px;
   padding: 20px;
}

.mainContainer__header {

    text-align: center;
    font-size: 60px;
    padding-top: 10px;
    
}

.mainContainer__form {

   text-align: center;
    padding: 20px;
    flex-basis: 400px;
}

.mainContainer__fieldset {

    background-color: rgb(248, 234, 169);
    border-radius: 5px;
    border: none;
    margin: auto;
    justify-content: center;
    
}

.mainContainer__labelText {

    max-width: 140px;
    display: inline-block;
    width: 100%;
    font-size: 600;
    padding: 20px;
}

.mainContainer__fieldsetList {

    list-style: none;


}

.mainContainer__button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #e8c204;
    width: 200px;
    
    

}

.mainContainer__button:hover {
    background-color: rgb(204, 189, 120);

}


.mainContainer__buttonContainer {
    align-items: center;
}

.mainContainer__result {

    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.mainContainer__rangeText {
    
    font-size: x-small;
}